{% load static %}

<div class="ui vertical footer segment ">
    <div class="ui center aligned container">
        <div class="ui divider"></div>
        <img src="{% static 'img/logo.png' %}" class="ui centered mini image">
        <div class="ui horizontal small divided link list">
            <a class="item" href="#" style="color: white;">Zestara Technology Co., Ltd.</a>
            <a class="item" href="#" style="color: white;">contact us</a>
            <a class="item" href="#" style="color: white;">India ICP Certificate 090287</a>
        </div>
    </div>
</div>